body {
    background-color:#474747;
}

h1, h2, a, h3 {
    color:#11F772;
    font-family: 'Josefin Sans', sans-serif; 
}

a:hover {
    color: blue;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

h1, .navbar {
    text-align: center;
    width: 600px;
}

p, ul, fieldset {
    color:#DFD6A7;
    font-size: 18px;
}

p, ul {
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    font-family: 'Lato', sans-serif;
}

label {
    display: block;
}

fieldset {
    border: none;
}

button {
    font-size: 16px;
}

.navbar {
    list-style-type: none;
}

/* space between the parent and child will target children only of the parent */
.navbar li{
    display: inline;
    font-size: 35px;
    border-right: white solid 5px;
    padding-right: 10px;
}

h1{
    border: solid 6px #11F772;
}

.pagedecoration {
    height: 350px;
}

.val {
    margin-top: 40px;
    height: 100px;
}









