body {
    background-color:#474747;
}

h1, h2, a, h3 {
    color:#11F772;
    font-family: 'Josefin Sans', sans-serif; 
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    text-shadow: 2px 2px cornsilk;
}

h3 {
    font-size: 35px;
}

h1, .navbar {
    text-align: center;
    width: 600px;
}

p, table, ul, fieldset, footer {
    color:#DFD6A7;
    font-size: 20px;
}

table {
    border: solid #11F772 4px;
    border-collapse: collapse;
}

td, th {
    border: solid #11F772 2px;
    padding: 5px;
}

p, ul, table {
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    font-family: 'Lato', sans-serif;
}

label {
    display: block;
    padding-top: 5px;
}

fieldset {
    border: none;
}

button {
    font-size: 30px;
    border-radius: 3px;
    border: 2px cornsilk solid;
    margin-top: 10px;
    background-color: #11F772;
    color: #474747;
}

input, textarea {
    border-radius: 2px;
    padding: 4px;
    font-size: 20px;
}

input:focus, textarea:focus {
    border: 2px solid #11F772;
}

.navbar {
    list-style-type: none;
}

/* space between the parent and child will target children only of the parent */
.navbar li{
    font-size: 35px;
    display: inline;
}

.navbar li a {
    text-decoration: none;
    background-color: #11F772;
    color: #474747;
    padding: 5px;
}

.navbar li a:hover, .val, button:hover {
    background-color: cornsilk;
}

.navbar li a:active {
    background-color: #f0da2f;
}

/* Currently none of the html pages have an element that will be affected by this selector */
a:visited {
    color: #fdaf;
}

h1{
    padding: 5px;
    border: solid 4px cornsilk;
}

.menu {
    width: 500px;
    height: 250px;
    padding: 5px;
    margin: 6px;
    border: double 4px cornsilk;
}

.pagedecoration {
    height: 350px;
}

.val {
    margin-top: 40px;
    height: 50px;
    padding: 10px;
    box-shadow: 10px 10px #11F772;
    margin: 20px;
}

.valflex {
    display: flex;
    flex-direction: row;
}

.menu, h1, .val, .navbar li a{
    border-radius: 6px; 
}

.menu-align {
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 1600px) {
    .menu-align {
        width: 100%;
    }
}

#coming_soon, #coming_soon + p {
    visibility: hidden;
}

#new_location {
    display: none;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grid-item-1 {
    grid-column: 1;
}

#grid-item-2 {
    grid-column: 2;
}

#grid-item-3 {
    grid-column: 3;
}

@media only screen and (max-width: 1600px) {
    
    #grid {
        display: grid;
    }

    #grid-item-1, #grid-item-2, #grid-item-3 {
        grid-column: 1;
    }
}









